In [2]:
import pandas as pd

In [3]:
# Abre os dois arquivos, para poder fazer o JOIN
file_path_ibge = 'OD_2017_fator_de_comparação_IBGE.xlsx'
df_ibge = pd.read_excel(file_path_ibge, engine='openpyxl')
df_ibge.head()

,ID_PESS,IDADE,GRUPO ETÁRIO,2017,2018,2019,2020,2021,2022,2023,...,2059,2060,FATOR_2017_2023,FATOR_2017_2025,FATOR_2017_2035,FATOR_2017_2040,FATOR_2017_2045,FATOR_2017_2050,FATOR_2017_2055,FATOR_2017_2060
0,10001101,59,55-59,2491800,2541542,2588005,2632224,2674059,2713763,2751343,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
1,10347101,56,55-59,2491800,2541542,2588005,2632224,2674059,2713763,2751343,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
2,10349101,56,55-59,2491800,2541542,2588005,2632224,2674059,2713763,2751343,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
3,10680101,59,55-59,2491800,2541542,2588005,2632224,2674059,2713763,2751343,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
4,20497101,58,55-59,2491800,2541542,2588005,2632224,2674059,2713763,2751343,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713

In [4]:
file_path_pesquisa = 'OD_2017.xlsx'
df_pesquisa = pd.read_excel(file_path_pesquisa, engine='openpyxl')
df_pesquisa.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,Município de Domicílio,Município da Escola,Município do Primeiro Trabalho,Município do 2º Trabalho,Município de Origem,Município de Destino,Município 1ª Transferência,Município 2ª Transferência,Município 3ª Transferência,AA_PESQUISA
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN,2017
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN,2017
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN,2017
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN,NaN,2017
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN,2017

In [5]:
df = df_pesquisa.merge(df_ibge, left_on='ID_PESS - Identifica Pessoa', right_on='ID_PESS')
df.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,2059,2060,FATOR_2017_2023,FATOR_2017_2025,FATOR_2017_2035,FATOR_2017_2040,FATOR_2017_2045,FATOR_2017_2050,FATOR_2017_2055,FATOR_2017_2060
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,3157523,3111544,1.104159,1.131573,1.346434,1.454384,1.436426,1.338559,1.347282,1.248713
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,2696855,2682362,0.965792,0.932980,0.906126,0.904879,0.875911,0.837984,0.807391,0.784025
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,2696855,2682362,0.965792,0.932980,0.906126,0.904879,0.875911,0.837984,0.807391,0.784025
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,2696855,2682362,0.965792,0.932980,0.906126,0.904879,0.875911,0.837984,0.807391,0.784025

In [6]:
df['FE_PESS - Fator de Expansão da Pessoa'].sum()

20821670.871776994

In [7]:
# cria as novas colunas aplicando o fator de expansão pela projeção DO IBGE
df['FE_PESS_2023'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2023']
df['FE_PESS_2025'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2025']
df['FE_PESS_2035'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2035']
df['FE_PESS_2040'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2040']
df['FE_PESS_2045'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2045']
df['FE_PESS_2050'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2050']
df['FE_PESS_2055'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2055']
df['FE_PESS_2060'] = df['FE_PESS - Fator de Expansão da Pessoa'] * df['FATOR_2017_2060']
df.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,FATOR_2017_2055,FATOR_2017_2060,FE_PESS_2023,FE_PESS_2025,FE_PESS_2035,FE_PESS_2040,FE_PESS_2045,FE_PESS_2050,FE_PESS_2055,FE_PESS_2060
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,1.347282,1.248713,21.566733,22.102197,26.298924,28.407434,28.056664,26.145107,26.315479,24.390212
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.347282,1.248713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,0.807391,0.784025,16.093929,15.547164,15.099669,15.078881,14.596155,13.964148,13.454352,13.064974
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,0.807391,0.784025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,0.807391,0.784025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# cria as novas colunas aplicando o fator de expansão da viagem multiplicado pela projeção DO IBGE
df['FE_VIA_2023'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2023']
df['FE_VIA_2025'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2025']
df['FE_VIA_2035'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2035']
df['FE_VIA_2040'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2040']
df['FE_VIA_2045'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2045']
df['FE_VIA_2050'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2050']
df['FE_VIA_2055'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2055']
df['FE_VIA_2060'] = df['FE_VIA - Fator de Expansão da Viagem'] * df['FATOR_2017_2060']
df.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,FE_PESS_2055,FE_PESS_2060,FE_VIA_2023,FE_VIA_2025,FE_VIA_2035,FE_VIA_2040,FE_VIA_2045,FE_VIA_2050,FE_VIA_2055,FE_VIA_2060
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,26.315479,24.390212,24.437958,25.044709,29.800155,32.189376,31.791907,29.625860,29.818914,27.637332
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,NaN,24.437958,25.044709,29.800155,32.189376,31.791907,29.625860,29.818914,27.637332
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,13.454352,13.064974,18.236548,17.616991,17.109920,17.086364,16.539373,15.823226,15.245559,14.804342
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,NaN,18.236548,17.616991,17.109920,17.086364,16.539373,15.823226,15.245559,14.804342
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,NaN,18.236548,17.616991,17.109920,17.086364,16.539373,15.823226,15.245559,14.804342

In [9]:
df.to_excel(f'OD_2017_E_IBGE.xlsx', index=False)
print('Arquivo salvo com sucesso')

Arquivo salvo com sucesso