In [1]:
import pandas as pd

In [2]:
ano = 2007
file_name = f'OD_{ano}.csv'
df = pd.read_csv(file_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196698 entries, 0 to 196697
Columns: 124 entries, ZONA to ID_ORDEM
dtypes: float64(94), int64(29), object(1)
memory usage: 186.1+ MB

In [3]:
df.head()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,DURACAO,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333729.0,7394430.0,10001,1,17.97777,1,6,2007-08-17,...,10.0,16.0,3.0,NaN,NaN,NaN,1.0,NaN,604.07,1
1,1,36,333729.0,7394430.0,10001,0,17.97777,1,6,2007-08-17,...,10.0,16.0,3.0,NaN,NaN,NaN,1.0,NaN,604.07,2
2,1,36,333858.0,7394484.0,10018,1,17.67677,18,6,2007-08-16,...,75.0,12.0,1.0,2.0,NaN,NaN,NaN,NaN,26271.11,3
3,1,36,333858.0,7394484.0,10018,0,17.67677,18,6,2007-08-16,...,80.0,12.0,1.0,2.0,NaN,NaN,NaN,NaN,26271.11,4
4,1,36,333858.0,7394484.0,10018,0,17.67677,18,6,2007-08-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [4]:
campo_de = 'F_DOM'
campo_para = 'Identifica Primeiro Registro do Domicílio'
tipos = {
    0: 'Demais Registros',
    1: 'Primeiro Registro do Domicílio'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_ENTRE'
campo_para = 'Código de Entrevista'
tipos = {
    5: 'Completa com Viagem',
    6: 'Completa sem Viagem'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TIPO_DOM'
campo_para = 'Tipo de Domicílio'
tipos = {
    1: 'Particular',
    2: 'Coletivo',
    3: 'Favela'   
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'F_FAM'
campo_para = 'Identifica Primeiro Registro da Família'
tipos = {
    0: 'Demais Registros',
    1: 'Primeiro Registro da Família'
}
df[campo_para] = df[campo_de].map(tipos)



campo_de = 'CONDMORA'
campo_para = 'Condição de Moradia'
tipos = {
    1: 'Alugada',
    2: 'Própria',
    3: 'Cedida',
    4: 'Outros',
    5: 'Não Respondeu'
}
df[campo_para] = df[campo_de].map(tipos)



campo_de = 'NAO_DCL_IT'
campo_para = 'Código de Declaração de Itens de Conforto'
tipos = {
    0: 'Não Declarou Itens de Conforto',
    1: 'Declarou Itens de Conforto'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CRITERIOBR'
campo_para = 'Critério de Classificação Econômica Brasil'
tipos = {
    1: 'A1',
    2: 'A2',
    3: 'B1',
    4: 'B2',
    5: 'C1',
    6: 'C2',
    7: 'D ',
    8: 'E'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_RENFA'
campo_para = 'Código de Renda Familiar Mensal'
tipos = {
    1: 'Renda Familiar Declarada e Maior que Zero',
    2: 'Renda Familiar Declarada como Zero',
    3: 'Renda Atribuída pelo Critério Brasil',
    4: 'Renda Atribuída pela Média da Zona'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'F_PESS'
campo_para = 'Identifica Primeiro Registro da Pessoa'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da pessoa'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'SIT_FAM'
campo_para = 'Situação Familiar'
tipos = {
    1: 'Pessoa Responsável',
    2: 'Cônjuge/Companheiro(a)',
    3: 'Filho(a)/Enteado(a)',
    4: 'Outro Parente',
    5: 'Agregado',
    6: 'Empregado Residente',
    7: 'Parente do Empregado'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'SEXO'
campo_para = 'Sexo'
tipos = {
    1: 'Masculino',
    2: 'Feminino',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'ESTUDA'
campo_para = 'Estuda Atualmente?'
tipos = {
    1: 'Não',
    2: 'Creche/Pré-Escola',
    3: '1º Grau /Fundamental',
    4: '2º Grau/Médio',
    5: 'Superior/Universitário',
    6: 'Outros',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'GRAU_INS'
campo_para = 'Grau de Instrução'
tipos = {
    1: 'Não Alfabetizado/Primário Incompleto',
    2: 'Primário Completo/Ginásio Incompleto',
    3: 'Ginásio Completo/Colegial Incompleto',
    4: 'Colegial Completo/Superior Incompleto',
    5: 'Superior Completo'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_ATIVI'
campo_para = 'Condição de Atividade'
tipos = {
    1: 'Tem Trabalho',
    2: 'Faz Bico',
    3: 'Em Licença Médica',
    4: 'Aposentado/Pensionista',
    5: 'Sem Trabalho',
    6: 'Nunca Trabalhou',
    7: 'Dona de Casa',
    8: 'Estudante'
}
df[campo_para] = df[campo_de].map(tipos)



campo_de = 'CO_REN_I'
campo_para = 'Condição de Renda Individual'
tipos = {
    1: 'Tem Renda',
    2: 'Não Tem Renda',
    3: 'Não Respondeu'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'SETOR1'
campo_para = 'Setor de Atividade do 1º Trabalho'
tipos = {
    1: 'Agrícola',
    2: 'Construção Civil',
    3: 'Indústria',
    4: 'Comércio',
    5: 'Serviços de Transporte de Carga',
    6: 'Serviço de Transporte de Passageiros',
    7: 'Serviço Creditício-financeiro',
    8: 'Serviço Pessoal',
    9: 'Serviço de Alimentação',
    10: 'Serviço de Saúde',
    11: 'Serviço de Educação',
    12: 'Serviço Especializado',
    13: 'Serviço de Administração Pública',
    14: 'Outros Serviços'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'VINC1'
campo_para = 'Vínculo Empregatício do 1º Trabalho'
tipos = {
    1: 'Assalariado com carteira',
    2: 'Assalariado sem carteira',
    3: 'Funcionário Público',
    4: 'Autônomo',
    5: 'Empregador',
    6: 'Profissional Liberal',
    7: 'Dono de Negócio Familiar',
    8: 'Trabalhador Familiar'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'TRAB2_RE'
campo_para = 'Segundo Trabalho é igual a Residência ?'
tipos = {
    1: 'Sim',
    2: 'Não',
    3: 'Sem endereço fixo'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'TRABEXT2'
campo_para = 'Realiza Trabalho Externo-2º Trabalho'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'SETOR2'
campo_para = 'Setor de Atividade do 2º Trabalho'
tipos = {
    1: 'Agrícola',
    2: 'Construção Civil',
    3: 'Indústria',
    4: 'Comércio',
    5: 'Serviços de Transporte de Carga',
    6: 'Serviço de Transporte de Passageiros',
    7: 'Serviço Creditício-financeiro',
    8: 'Serviço Pessoal',
    9: 'Serviço de Alimentação',
    10: 'Serviço de Saúde',
    11: 'Serviço de Educação',
    12: 'Serviço Especializado',
    13: 'Serviço de Administração Pública',
    14: 'Outros Serviços'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'VINC2'
campo_para = 'Vínculo Empregatício do 2º Trabalho'
tipos = {
    1: 'Assalariado com carteira',
    2: 'Assalariado sem carteira',
    3: 'Funcionário Público',
    4: 'Autônomo',
    5: 'Empregador',
    6: 'Profissional Liberal',
    7: 'Dono de Negócio Familiar',
    8: 'Trabalhador Familiar'
}
df[campo_para] = df[campo_de].map(tipos)    
   
    
    
campo_de = 'DIA_SEM'
campo_para = 'Dia da Semana'
tipos = {
    2: 'Segunda-feira',
    3: 'Terça-feira',
    4: 'Quarta-feira',
    5: 'Quinta-feira',
    6: 'Sexta-feira'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'MOTIVO_O'
campo_para = 'Motivo na Origem'
tipos = {    
    1: 'Trabalho/Indústria',
    2: 'Trabalho/Comércio',
    3: 'Trabalho/Serviços',
    4: 'Educação',
    5: 'Compras',
    6: 'Saúde',
    7: 'Lazer',
    8: 'Residência',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'MOTIVO_D'
campo_para = 'Motivo no Destino'
tipos = {
    1: 'Trabalho/Indústria',
    2: 'Trabalho/Comércio',
    3: 'Trabalho/Serviços',
    4: 'Educação',
    5: 'Compras',
    6: 'Saúde',
    7: 'Lazer',
    8: 'Residência',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MOT_SRES'
campo_para = 'Motivo no Destino sem Residência'
tipos = {    
    1: 'Trabalho/Indústria',
    2: 'Trabalho/Comércio',
    3: 'Trabalho/Serviços',
    4: 'Educação',
    5: 'Compras',
    6: 'Saúde',
    7: 'Lazer',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'SERVIR_O'
campo_para = 'Servir Passageiro na Origem'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'SERVIR_D'
campo_para = 'Servir Passageiro no Destino'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO1'
campo_para = 'Modo 1'
tipos = {
    1: 'Ônibus Município São Paulo',
    2: 'Ônibus outros Municípios',
    3: 'Ônibus Metropolitano',
    4: 'Ônibus Fretado',
    5: 'Escolar',
    6: 'Dirigindo Automóvel',
    7: 'Passageiro de Automóvel',
    8: 'Táxi',
    9: 'Microônibus/Van Município de São Paulo',
    10: 'Microônibus/Van outros Municípios',
    11: 'Microônibus/Van Metropolitano',
    12: 'Metrô',
    13: 'Trem',
    14: 'Moto',
    15: 'Bicicleta',
    16: 'A pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO2'
campo_para = 'Modo 2'
tipos = {
    1: 'Ônibus Município São Paulo',
    2: 'Ônibus outros Municípios',
    3: 'Ônibus Metropolitano',
    4: 'Ônibus Fretado',
    5: 'Escolar',
    6: 'Dirigindo Automóvel',
    7: 'Passageiro de Automóvel',
    8: 'Táxi',
    9: 'Microônibus/Van Município de São Paulo',
    10: 'Microônibus/Van outros Municípios',
    11: 'Microônibus/Van Metropolitano',
    12: 'Metrô',
    13: 'Trem',
    14: 'Moto',
    15: 'Bicicleta',
    16: 'A pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO3'
campo_para = 'Modo 3'
tipos = {
    1: 'Ônibus Município São Paulo',
    2: 'Ônibus outros Municípios',
    3: 'Ônibus Metropolitano',
    4: 'Ônibus Fretado',
    5: 'Escolar',
    6: 'Dirigindo Automóvel',
    7: 'Passageiro de Automóvel',
    8: 'Táxi',
    9: 'Microônibus/Van Município de São Paulo',
    10: 'Microônibus/Van outros Municípios',
    11: 'Microônibus/Van Metropolitano',
    12: 'Metrô',
    13: 'Trem',
    14: 'Moto',
    15: 'Bicicleta',
    16: 'A pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO4'
campo_para = 'Modo 4'
tipos = {
    1: 'Ônibus Município São Paulo',
    2: 'Ônibus outros Municípios',
    3: 'Ônibus Metropolitano',
    4: 'Ônibus Fretado',
    5: 'Escolar',
    6: 'Dirigindo Automóvel',
    7: 'Passageiro de Automóvel',
    8: 'Táxi',
    9: 'Microônibus/Van Município de São Paulo',
    10: 'Microônibus/Van outros Municípios',
    11: 'Microônibus/Van Metropolitano',
    12: 'Metrô',
    13: 'Trem',
    14: 'Moto',
    15: 'Bicicleta',
    16: 'A pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODOPRIN'
campo_para = 'Modo Principal'
tipos = {
    1: 'Ônibus Município S.Paulo',
    2: 'Ônibus outros Municípios',
    3: 'Ônibus Metropolitano',
    4: 'Ônibus Fretado',
    5: 'Escolar',
    6: 'Dirigindo Automóvel',
    7: 'Passageiro de Automóvel',
    8: 'Táxi',
    9: 'Microônibus/Van Município de S.Paulo',
    10: 'Microônibus/Van outros Município',
    11: 'Microônibus/Van Metropolitano',
    12: 'Metrô',
    13: 'Trem',
    14: 'Moto',
    15: 'Bicicleta',
    16: 'A pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'TIPVG'
campo_para = 'Tipo de Viagem'
tipos = {
    1: 'Coletivo',
    2: 'Individual',
    3: 'A pé',
    4: 'Bicicleta',
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'PAG_VIAG'
campo_para = 'Quem Pagou a Viagem'
tipos = {
    1: 'Você/Sua Família',
    2: 'Empregador',
    3: 'Isento',
    4: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TP_ESAUTO'
campo_para = 'Tipo de Estacionamento do Automóvel ou Moto'
tipos = {
    1: 'Não Estacionou',
    2: 'Zona azul/Zona marrom',
    3: 'Patrocinado',
    4: 'Proprio',
    5: 'Meio-Fio',
    6: 'Avulso',
    7: 'Mensal',
    8: 'Não respondeu',
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'PE_BICI'
campo_para = 'Por Que Viajou A Pé ou Bicicleta'
tipos = {
    1: 'Pequena Distância',
    2: 'Condução Cara',
    3: 'Ponto/Estação Distante',
    4: 'Condução Demora a Passar',
    5: 'Viagem Demorada',
    6: 'Condução Lotada',
    7: 'Atividade Física',
    8: 'Outros Motivos'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TP_ESBICI'
campo_para = 'Estacionamento Bicicleta'
tipos = {
    1: 'Bicicletário Gratuito',
    2: 'Bicicletário Pago',
    3: 'Local Privado',
    4: 'Rua/Local Público',
    5: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)


df.tail()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,Modo 1,Modo 2,Modo 3,Modo 4,Modo Principal,Tipo de Viagem,Quem Pagou a Viagem,Tipo de Estacionamento do Automóvel ou Moto,Por Que Viajou A Pé ou Bicicleta,Estacionamento Bicicleta
196693,460,25,297897.0,7409051.0,4601115,0,75.79343,1115,6,2008-04-12,...,Moto,NaN,NaN,NaN,Moto,Individual,NaN,NaN,NaN,NaN
196694,460,25,297897.0,7409051.0,4601115,0,75.79343,1115,6,2008-04-12,...,A pé,NaN,NaN,NaN,A pé,A pé,NaN,NaN,Pequena Distância,NaN
196695,460,25,297897.0,7409051.0,4601115,0,75.79343,1115,6,2008-04-12,...,A pé,NaN,NaN,NaN,A pé,A pé,NaN,NaN,Pequena Distância,NaN
196696,460,25,297897.0,7409051.0,4601115,0,75.79343,1115,6,2008-04-12,...,A pé,NaN,NaN,NaN,A pé,A pé,NaN,NaN,Pequena Distância,NaN
196697,460,25,297897.0,7409051.0,4601115,0,75.79343,1115,6,2008-04-12,...,A pé,NaN,NaN,NaN,A pé,A pé,NaN,NaN,Pequena Distância,NaN

In [5]:
zonas = {
    2: 'Parque Dom Pedro',
    3: 'Praça João Mendes',
    4: 'Ladeira da Memória',
    5: 'República',
    6: 'Santa Ifigênia',
    7: 'Luz',
    8: 'Bom Retiro',
    9: 'Ponte Pequena',
    10: 'Canindé',
    11: 'Bom Jardim',
    12: 'Pari',
    13: 'João Teodoro',
    14: 'Oriente',
    15: 'Bresser',
    16: 'Brás',
    17: 'Gasômetro',
    18: 'Independência',
    19: 'Cambuci',
    20: 'Glicério',
    21: 'Aclimação',
    22: 'Pires da Mota',
    23: 'Centro Cultural',
    24: 'Liberdade',
    25: 'Treze de Maio',
    26: 'Bexiga',
    27: 'Bela Vista',
    28: 'São Carlos do Pinhal',
    29: 'Masp',
    30: 'Higienópolis',
    31: 'Vila Buarque',
    32: 'Consolação',
    33: 'Pacaembu',
    34: 'FAAP',
    35: 'Santa Cecília',
    36: 'Marechal Deodoro',
    37: 'Rudge',
    38: 'Catumbi',
    39: 'Belém',
    40: 'Quarta Parada',
    41: 'Belenzinho',
    42: 'Celso Garcia',
    43: 'Moóca',
    44: 'Alto da Moóca',
    45: 'Parque da Moóca',
    46: 'Água Rasa',
    47: 'Vila Bertioga',
    48: 'Regente Feijó',
    49: 'Ana Rosa',
    50: 'Jardim da Glória',
    51: 'Chácara Klabin',
    52: 'Vila Mariana',
    53: 'Santa Cruz',
    54: 'Vila Clementino',
    55: 'França Pinto',
    56: 'Rodrigues Alves',
    57: 'Paraíso',
    58: 'Bosque da Saúde',
    59: 'Saúde',
    60: 'Planalto Paulista',
    61: 'Mirandópolis',
    62: 'Parque Ibirapuera',
    63: 'Jardim Luzitânia',
    64: 'Moema',
    65: 'Bandeirantes',
    66: 'Vila Nova Conceição',
    67: 'Chácara Itaim',
    68: 'Vila Olímpia',
    69: 'Hélio Pelegrino',
    70: 'Brooklin',
    71: 'Vila Cordeiro',
    72: 'Berrini',
    73: 'Campinas',
    74: 'Pamplona',
    75: 'Jardins',
    76: 'Clínicas',
    77: 'Oscar Freire',
    78: 'Trianon',
    79: 'Jardim Paulistano',
    80: 'Jardim Europa',
    81: 'Pinheiros',
    82: 'Vila Madalena',
    83: 'PUC',
    84: 'Cardoso de Almeida',
    85: 'Zequinha de Abreu',
    86: 'Sumaré',
    87: 'Perdizes',
    88: 'Vila Anglo Brasileira',
    89: 'Pompéia',
    90: 'Santa Marina',
    91: 'Barra Funda',
    92: 'Francisco Matarazzo',
    93: 'Água Branca',
    94: 'Vila Beatriz',
    95: 'Alto de Pinheiros',
    96: 'Boaçava',
    97: 'Vila Anastácio',
    98: 'Lapa de Baixo',
    99: 'Lapa',
    100: 'Vila Ipojuca',
    101: 'Alto da Lapa',
    102: 'Gavião Peixoto',
    103: 'Bela Aliança',
    104: 'Vila Hamburguesa',
    105: 'CEASA',
    106: 'Vila Leopoldina',
    107: 'Emissário',
    108: 'Vila Zatt',
    109: 'Pirituba',
    110: 'São Domingos',
    111: 'Jardim Mutinga',
    112: 'Vila Jaguara',
    113: 'Jaraguá',
    114: 'Nova Jaraguá',
    115: 'Parada de Taipas',
    116: 'Parque Morro Doce',
    117: 'Anhanguera',
    118: 'Perus',
    119: 'Vista Alegre',
    120: 'Jardim Damasceno',
    121: 'Vila Terezinha',
    122: 'Brasilândia',
    123: 'Vila Morro Grande',
    124: 'Itaberaba',
    125: 'Freguesia do Ó',
    126: 'Carandiru',
    127: 'Santana',
    128: 'Zaki Narchi',
    129: 'Tietê',
    130: 'Parque Anhembi',
    131: 'Alfredo Pujol',
    132: 'Santa Terezinha',
    133: 'Jardim São Paulo',
    134: 'Casa Verde',
    135: 'Parque Peruche',
    136: 'Limão',
    137: 'Casa Verde Alta',
    138: 'Cachoeirinha',
    139: 'Jardim Peri',
    140: 'Reserva da Cantareira',
    141: 'Mandaqui',
    142: 'Horto Florestal',
    143: 'ETA Guaraú',
    144: 'Parque Palmas do Tremembé',
    145: 'Tremembé',
    146: 'Cantareira',
    147: 'Jardim das Pedras',
    148: 'Jardim Guapira',
    149: 'Parada Inglesa',
    150: 'Tucuruvi',
    151: 'Vila Gustavo',
    152: 'Cohab Jova Real',
    153: 'Jaçanã',
    154: 'Parque Edu Chaves',
    155: 'Vila Medeiros',
    156: 'Jardim Brasil',
    157: 'Jardim Japão',
    158: 'Parque Novo Mundo',
    159: 'Vila Maria',
    160: 'Vila Isolina Mazzei',
    161: 'Vila Guilherme',
    162: 'Coroa',
    163: 'Gomes Cardim',
    164: 'Tatuapé',
    165: 'Chácara do Piqueri',
    166: 'Parque São Jorge',
    167: 'Penha',
    168: 'Tiquatira',
    169: 'Vila Esperança',
    170: 'Rui Barbosa',
    171: 'Cangaíba',
    172: 'Engenheiro Goulart',
    173: 'USP Leste I',
    174: 'USP Leste II',
    175: 'Ermelino Matarazzo',
    176: 'Parque Boturussu',
    177: 'Ponte Rasa',
    178: 'Águia de Haia',
    179: 'Limoeiro',
    180: 'Vila Jacuí',
    181: 'Parada XV',
    182: 'Itaquera',
    183: 'Vila Campanela',
    184: 'Rio Verde',
    185: 'Saudade',
    186: 'São Miguel Paulista',
    187: 'Cidade Nitro-Operária',
    188: 'Jardim Helena',
    189: 'Jardim Romano',
    190: 'Vila Curuçá',
    191: 'Jardim Robru',
    192: 'Lajeado',
    193: 'Fábrica Bandeirantes',
    194: 'Fazenda Itaim',
    195: 'Itaim Paulista',
    196: 'Jardim das Oliveiras',
    197: 'Vila Califórnia',
    198: 'Vila Carrão',
    199: 'Jardim Anália Franco',
    200: 'Vila Formosa',
    201: 'Sapopemba',
    202: 'Aricanduva',
    203: 'Vila Matilde',
    204: 'Vila Guilhermina',
    205: 'Cidade A.E.Carvalho',
    206: 'Artur Alvim',
    207: 'Cidade Líder',
    208: 'Santa Marcelina',
    209: 'Parque Savoy',
    210: 'Vila Carmosina',
    211: 'Fazenda Caguaçu',
    212: 'Parque do Carmo',
    213: 'Gleba do Pessêgo',
    214: 'José Bonifácio',
    215: 'Guaianases',
    216: 'Juscelino Kubitschek',
    217: 'Cidade Tiradentes',
    218: 'Terceira Divisão',
    219: 'Iguatemi',
    220: 'Parque São Rafael',
    221: 'Rodolfo Pirani',
    222: 'Ipiranga',
    223: 'Sacomã',
    224: 'Alto do Ipiranga',
    225: 'Vila São José',
    226: 'Vila Monumento',
    227: 'Vila Independência',
    228: 'Vila Carioca',
    229: 'Moinho Velho',
    230: 'São João Clímaco',
    231: 'Anchieta',
    232: 'Parque do Estado',
    233: 'Água Funda',
    234: 'Jardim da Saúde',
    235: 'Vila Gumercindo',
    236: 'Jardim Previdência',
    237: 'Tamanduateí',
    238: 'Orfanato',
    239: 'Vila Zelina',
    240: 'Linhas Corrente',
    241: 'Vila Ema',
    242: 'Parque São Lucas',
    243: 'Parque Santa Madalena',
    244: 'Jardim Colorado',
    245: 'Teotônio Vilela',
    246: 'Fazenda da Juta',
    247: 'São Mateus',
    248: 'Cidade IV Centenário',
    249: 'Rio Claro',
    250: 'Cidade Satélite',
    251: 'Joaquim Nabuco',
    252: 'Vieira de Moraes',
    253: 'Campo Belo',
    254: 'Congonhas',
    255: 'Jardim Aeroporto',
    256: 'Vila Santa Catarina',
    257: 'Jabaquara',
    258: 'Cidade Vargas',
    259: 'Jardim Bom Clima',
    260: 'Cupecê',
    261: 'Jardim Miriam',
    262: 'Vila Missionária',
    263: 'Jurubatuba',
    264: 'Vila São Pedro',
    265: 'Campo Grande',
    266: 'Vila Sabará',
    267: 'Mar Paulista',
    268: 'Pedreira',
    269: 'Vila Socorro',
    270: 'Parque Interlagos',
    271: 'Jardim Represa',
    272: 'Rio Bonito',
    273: 'SESC Interlagos',
    274: 'Jardim Presidente',
    275: 'Grajaú',
    276: 'Cocaia',
    277: 'Bororé',
    278: 'Jaceguava',
    279: 'Parelheiros',
    280: 'Marsilac',
    281: 'Granja Julieta',
    282: 'Chácara Flora',
    283: 'Santo Amaro',
    284: 'Vila Miranda',
    285: 'Jardim São Luís',
    286: 'Centro Empresarial',
    287: 'Guarapiranga',
    288: 'Jardim Capela',
    289: 'Riviera',
    290: "M' Boi Mirim",
    291: 'Jardim Ângela',
    292: 'Capão Redondo',
    293: 'Adventista',
    294: 'Parque Fernanda',
    295: 'Morumbi',
    296: 'Jóquei Clube',
    297: 'Fazenda Morumbi',
    298: 'Real Parque',
    299: 'Paraisópolis',
    300: 'Jardim Vitória Régia',
    301: 'Vila Suzana',
    302: 'Parque Arariba',
    303: 'Jardim Mitsutani',
    304: 'Pirajussara',
    305: 'Jardim Umarizal',
    306: 'Portal do Morumbi',
    307: 'Jardim Jussara',
    308: 'Vila Sônia',
    309: 'Jardim Maria do Carmo',
    310: 'Jardim Cambará',
    311: 'Jardim João XXIII',
    312: 'Raposo Tavares',
    313: 'Rio Pequeno',
    314: 'Jardim Adalgiza',
    315: 'Parque Continental',
    316: 'Jaguaré',
    317: 'Cidade Universitária',
    318: 'Butantã',
    319: 'Jardim Caxingui',
    320: 'Jardim Bonfiglioli',
    321: 'Melhoramentos',
    322: 'Caieiras',
    323: 'Santa Inês',
    324: 'Cajamar',
    325: 'Jordanésia',
    326: 'Cristais',
    327: 'Franco da Rocha',
    328: 'Juqueri',
    329: 'Sete Voltas',
    330: 'Francisco Morato',
    331: 'Cascatas',
    332: 'Mairiporã',
    333: 'Paiva Castro',
    334: 'Colinas',
    335: 'Pirucaia',
    336: 'Guarulhos',
    337: 'Cumbica',
    338: 'Rodovia Presidente Dutra',
    339: 'Ponte Grande',
    340: 'Vila Galvão',
    341: 'Vila Rosália',
    342: 'Jardim América',
    343: 'Aeroporto',
    344: 'Pimentas',
    345: 'Picanço',
    346: 'Morro dos Macacos',
    347: 'Estrada de Nazaré Paulista',
    348: 'Vasconcelândia',
    349: 'Arujazinho',
    350: 'Arujá',
    351: 'Fazenda Velha',
    352: 'Santa Isabel',
    353: 'Jaguari',
    354: 'Ferraz de Vasconcelos',
    355: 'Paiol Velho',
    356: 'Santos Dumont',
    357: 'Jardim São José',
    358: 'Poá',
    359: 'Itaquaquecetuba',
    360: 'Bonsucesso',
    361: 'Pinheirinho',
    362: 'Miguel Badra',
    363: 'Suzano',
    364: 'Guaió',
    365: 'Ouro Fino',
    366: 'Mogi das Cruzes',
    367: 'Estudantes',
    368: 'Vila Oliveira',
    369: 'Brás Cubas',
    370: 'Jundiapeba',
    371: 'Jardim Graziella',
    372: 'Itapeti',
    373: 'Sabaúna',
    374: 'César de Souza',
    375: 'Reservatório de Jundiaí',
    376: 'Biritiba-Mirim',
    377: 'Salesópolis',
    378: 'Guararema',
    379: 'Boa Vista',
    380: 'Vila Gerti',
    381: 'Santo Antônio',
    382: 'São Caetano do Sul',
    383: 'Santo André',
    384: 'Valparaíso',
    385: 'Campestre',
    386: 'Utinga',
    387: 'Vila Lucinda',
    388: 'Parque das Nações',
    389: 'Jardim do Estádio',
    390: 'Parque do Pedroso',
    391: 'Paranapiacaba',
    392: 'Capuava',
    393: 'Mauá',
    394: 'Alto da Boa Vista',
    395: 'Vista Alegre',
    396: 'Ribeirão Pires',
    397: 'Jardim Santa Luzia',
    398: 'Ouro Fino Paulista',
    399: 'Parque Sete Pontes',
    400: 'Rio Grande da Serra',
    401: 'Planalto',
    402: 'Rudge Ramos',
    403: 'São Bernardo do Campo',
    404: 'Demarchi',
    405: 'Riacho Grande',
    406: 'Caminho do Mar',
    407: 'Reservatório Billings',
    408: 'Diadema',
    409: 'Piraporinha',
    410: 'Eldorado',
    411: 'Taboão',
    412: 'Parque Pinheiros',
    413: 'Santo Eduardo',
    414: 'Embu',
    415: 'Ressaca',
    416: 'Itapecerica da Serra',
    417: 'Jardim Petrópolis',
    418: 'Embu-Mirim',
    419: 'São Lourenço da Serra',
    420: 'Embu-Guaçu',
    421: 'Cipó',
    422: 'Santa Rita',
    423: 'Juquitiba',
    424: 'Barueri',
    425: 'Aphaville',
    426: 'Tamboré',
    427: 'Antônio João',
    428: 'Vutopoca',
    429: 'Jardim Silveira',
    430: 'Jardim Belval',
    431: 'Pedreira',
    432: 'Carapicuíba',
    433: 'Jardim Planalto',
    434: 'Aldeia da Carapicuíba',
    435: 'Vila Silvana',
    436: 'Osasco',
    437: 'Bussocaba',
    438: 'Bussocaba City',
    439: 'Novo Osasco',
    440: 'Jardim das Flores',
    441: 'Jardim Veloso',
    442: 'Quitaúna',
    443: 'Jardim Piratininga',
    444: 'Presidente Altino',
    445: 'Munhoz Junior',
    446: 'Mutinga',
    447: 'Três Montanhas',
    448: 'Ribeirão Itaqui',
    449: 'Jandira',
    450: 'Ribeirão das Pombas',
    451: 'Granja Viana',
    452: 'Cotia',
    453: 'Capueira',
    454: 'Caucaia',
    455: 'Caucaia do Alto',
    456: 'Vargem Grande Paulista',
    457: 'Quatro Encruzilhadas',
    458: 'Itapevi',
    459: 'Santana de Parnaíba',
    460: 'Pirapora do Bom Jesus',
    999: 'Zona Externa'
}

campo_de = 'ZONA'
campo_para = 'Zona do Domicílio'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_ESC'
campo_para = 'Zona da Escola'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONATRA1'
campo_para = 'Zona do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONATRA2'
campo_para = 'Zona do 2º Trabalho'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_D'
campo_para = 'Zona de Destino'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_O'
campo_para = 'Zona de Origem'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T1'
campo_para = 'Zona da 1ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T2'
campo_para = 'Zona da 2ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T3'
campo_para = 'Zona da 3ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

In [6]:
municipios = {
    2: 'Barueri',
    3: 'Biritiba-Mirim',
    4: 'Caieiras',
    5: 'Cajamar',
    6: 'Carapicuíba',
    7: 'Cotia',
    8: 'Diadema',
    9: 'Embu',
    10: 'Embu-Guaçu',
    11: 'Ferraz de Vasconcelos',
    12: 'Francisco Morato',
    13: 'Franco da Rocha',
    14: 'Guararema',
    15: 'Guarulhos',
    16: 'Itapecerica da Serra',
    17: 'Itapevi',
    18: 'Itaquaquecetuba',
    19: 'Jandira',
    20: 'Juquitiba',
    21: 'Mairiporã',
    22: 'Mauá',
    23: 'Mogi das Cruzes',
    24: 'Osasco',
    25: 'Pirapora do Bom Jesus',
    26: 'Poá',
    27: 'Ribeirão Pires',
    28: 'Rio Grande da Serra',
    29: 'Salesópolis',
    30: 'Santa Isabel',
    31: 'Santana do Parnaiba',
    32: 'Santo André',
    33: 'São Bernardo',
    34: 'São Caetano do Sul',
    35: 'São Lourenço da Serra',
    36: 'São Paulo',
    37: 'Suzano',
    38: 'Taboão da Serra',
    39: 'Vargem Grande Paulista',
    99: 'Munício Externo'
}
campo_de = 'MUNI_DOM'
campo_para = 'Município de Domicílio'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIESC'
campo_para = 'Município da Escola'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA1'
campo_para = 'Município do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA2'
campo_para = 'Município do 2º Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_O'
campo_para = 'Município de Origem'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_D'
campo_para = 'Município de Destino'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T1'
campo_para = 'Município 1ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T2'
campo_para = 'Município 2ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T3'
campo_para = 'Município 3ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

In [7]:
df_renomeado = df.rename(columns={
    'ZONA': 'ZONA - Zona do Domicílio',
    'MUNI_DOM': 'MUNI_DOM - Município de Domicílio',
    'CO_DOM_X': 'CO_DOM_X - Coordenada X Domicílio',
    'CO_DOM_Y': 'CO_DOM_Y - Coordenada Y Domicílio',
    'ID_DOM': 'ID_DOM - Identifica Domicílio',
    'F_DOM': 'F_DOM - Identifica Primeiro Registro do Domicílio',
    'FE_DOM': 'FE_DOM - Fator de Expansão do Domicílio',
    'DOM': 'DOM - Número do Domicílio',
    'CD_ENTRE': 'CD_ENTRE - Código de Entrevista',
    'DATA': 'DATA - Data da Entrevista',
    'TIPO_DOM': 'TIPO_DOM - Tipo de Domicílio',
    'AGUA': 'AGUA - Possui água encanada?',
    'RUA_PAVI': 'RUA_PAVI - A rua é pavimentada?',
    'NO_MORAD': 'NO_MORAD - Total de Moradores no Domicílio',
    'TOT_FAM': 'TOT_FAM - Total de Familias no Domicílio',
    'ID_FAM': 'ID_FAM - Identifica Família',
    'F_FAM': 'F_FAM - Identifica Primeiro Registro da Família',
    'FE_FAM': 'FE_FAM - Fator de Expansão da Família',
    'FAMILIA': 'FAMILIA - Número da Família',
    'NO_MORAF': 'NO_MORAF - Total de Moradores na Família',
    'CONDMORA': 'CONDMORA - Condição de Moradia',
    'QT_BANHO': 'QT_BANHO - Banheiros',
    'QT_EMPRE': 'QT_EMPRE - Empregados Domésticos',
    'QT_AUTO': 'QT_AUTO - Automóveis',
    'QT_MICRO': 'QT_MICRO - Microcomputadores',
    'QT_LAVALOU': 'QT_LAVALOU - Máquinas de Lava louças',
    'QT_GEL1': 'QT_GEL1 - Geladeiras de uma porta',
    'QT_GEL2': 'QT_GEL2 - Geladeiras de duas portas',
    'QT_FREEZ': 'QT_FREEZ - Freezers',
    'QT_MLAVA': 'QT_MLAVA - Máquinas de Lavar roupa',
    'QT_DVD': 'QT_DVD - DVDs',
    'QT_MICROON': 'QT_MICROON - Microondas',
    'QT_MOTO': 'QT_MOTO - Motos',
    'QT_SECAROU': 'QT_SECAROU - Secadora de roupas',
    'QT_BICICLE': 'QT_BICICLE - Bicicletas',
    'NAO_DCL_IT': 'NAO_DCL_IT - Código de Declaração de Itens de Conforto',
    'CRITERIOBR': 'CRITERIOBR - Critério de Classificação Econômica Brasil',
    'PONTO_BR': 'PONTO_BR - Pontos Critério Brasil',
    'ANO_AUTO1': 'ANO_AUTO1 - Ano Fabricação do Auto 1',
    'ANO_AUTO2': 'ANO_AUTO2 - Ano Fabricação do Auto 2',
    'ANO_AUTO3': 'ANO_AUTO3 - Ano Fabricação do Auto 3',
    'RENDA_FA': 'RENDA_FA - Renda Familiar Mensal',
    'CD_RENFA': 'CD_RENFA - Código de Renda Familiar Mensal',
    'ID_PESS': 'ID_PESS - Identifica Pessoa',
    'F_PESS': 'F_PESS - Identifica Primeiro Registro da Pessoa',
    'FE_PESS': 'FE_PESS - Fator de Expansão da Pessoa',
    'PESSOA': 'PESSOA - Número da Pessoa',
    'SIT_FAM': 'SIT_FAM - Situação Familiar',
    'IDADE': 'IDADE - Idade',
    'SEXO': 'SEXO - Sexo',
    'ESTUDA': 'ESTUDA - Estuda Atualmente?',
    'GRAU_INS': 'GRAU_INS - Grau de Instrução',
    'CD_ATIVI': 'CD_ATIVI - Condição de Atividade',
    'CO_REN_I': 'CO_REN_I - Condição de Renda Individual',
    'VL_REN_I': 'VL_REN_I - Renda Individual',
    'ZONA_ESC': 'ZONA_ESC - Zona da Escola',
    'MUNIESC': 'MUNIESC - Município da Escola',
    'CO_ESC_X': 'CO_ESC_X - Coordenada X Escola',
    'CO_ESC_Y': 'CO_ESC_Y - Coordenada Y Escola',
    'TIPO_ESC': 'TIPO_ESC - Tipo de Escola',
    'ZONATRA1': 'ZONATRA1 - Zona do Primeiro Trabalho',
    'MUNITRA1': 'MUNITRA1 - Município do Primeiro Trabalho',
    'CO_TR1_X': 'CO_TR1_X - Coordenada X 1º Trabalho',
    'CO_TR1_Y': 'CO_TR1_Y - Coordenada Y 1º Trabalho',
    'TRAB1_RE': 'TRAB1_RE - Primeiro Trabalho é igual a Residência ?',
    'TRABEXT1': 'TRABEXT1 - Realiza Trabalho Externo-1º Trabalho',
    'OCUP1': 'OCUP1 - Ocupação do 1º Trabalho',
    'SETOR1': 'SETOR1 - Setor de Atividade do 1º Trabalho',
    'VINC1': 'VINC1 - Vínculo Empregatício do 1º Trabalho',
    'ZONATRA2': 'ZONATRA2 - Zona do 2º Trabalho',
    'MUNITRA2': 'MUNITRA2 - Município do 2º Trabalho',
    'CO_TR2_X': 'CO_TR2_X - Coordenada X 2º Trabalho',
    'CO_TR2_Y': 'CO_TR2_Y - Coordenada Y 2º Trabalho',
    'TRAB2_RE': 'TRAB2_RE - Segundo Trabalho é igual a Residência ?',
    'TRABEXT2': 'TRABEXT2 - Realiza Trabalho Externo-2º Trabalho',
    'OCUP2': 'OCUP2 - Ocupação do 2º Trabalho',
    'SETOR2': 'SETOR2 - Setor de Atividade do 2º Trabalho',
    'VINC2': 'VINC2 - Vínculo Empregatício do 2º Trabalho',
    'N_VIAG': 'N_VIAG - Número da Viagem',
    'FE_VIA': 'FE_VIA - Fator de Expansão da Viagem',
    'DIA_SEM': 'DIA_SEM - Dia da Semana',
    'TOT_VIAG': 'TOT_VIAG - Total de Viagens da Pessoa',
    'ZONA_O': 'ZONA_O - Zona de Origem',
    'MUNI_O': 'MUNI_O - Município de Origem',
    'CO_O_X': 'CO_O_X - Coordenada X Origem',
    'CO_O_Y': 'CO_O_Y - Coordenada Y Origem',
    'ZONA_D': 'ZONA_D - Zona de Destino',
    'MUNI_D': 'MUNI_D - Município de Destino',
    'CO_D_X': 'CO_D_X - Coordenada X Destino',
    'CO_D_Y': 'CO_D_Y - Coordenada Y Destino',
    'ZONA_T1': 'ZONA_T1 - Zona da 1ª Transferência',
    'MUNI_T1': 'MUNI_T1 - Município 1ª Transferência',
    'CO_T1_X': 'CO_T1_X - Coordenada X 1ª Transferência',
    'CO_T1_Y': 'CO_T1_Y - Coordenada Y 1ª Transferência',
    'ZONA_T2': 'ZONA_T2 - Zona da 2ª Transferência',
    'MUNI_T2': 'MUNI_T2 - Município 2ª Transferência',
    'CO_T2_X': 'CO_T2_X - Coordenada X 2ª Transferência',
    'CO_T2_Y': 'CO_T2_Y - Coordenada Y 2ª Transferência',
    'ZONA_T3': 'ZONA_T3 - Zona da 3ª Transferência',
    'MUNI_T3': 'MUNI_T3 - Município 3ª Transferência',
    'CO_T3_X': 'CO_T3_X - Coordenada X 3ª Transferência',
    'CO_T3_Y': 'CO_T3_Y - Coordenada Y 3ª Transferência',
    'MOTIVO_O': 'MOTIVO_O - Motivo na Origem',
    'MOTIVO_D': 'MOTIVO_D - Motivo no Destino',
    'MOT_SRES': 'MOT_SRES - Motivo no Destino sem Residência',
    'SERVIR_O': 'SERVIR_O - Servir Passageiro na Origem',
    'SERVIR_D': 'SERVIR_D - Servir Passageiro no Destino',
    'MODO1': 'MODO1 - Modo 1',
    'MODO2': 'MODO1 - Modo 2',
    'MODO3': 'MODO1 - Modo 3',
    'MODO4': 'MODO1 - Modo 4',
    'H_SAIDA': 'H_SAIDA - Hora de Saída',
    'MIN_SAIDA': 'MIN_SAIDA - Minuto de Saída',
    'ANDA_O': 'ANDA_O - Tempo Andando na Origem',
    'H_CHEG': 'H_CHEG - Hora de Chegada',
    'MIN_CHEG': 'MIN_CHEG - Minuto de Chegada',
    'ANDA_D': 'ANDA_D - Tempo Andando no Destino',
    'DURACAO': 'DURACAO - Duração da Viagem (em minutos)',
    'MODOPRIN': 'MODOPRIN - Modo Principal',
    'TIPVG': 'TIPVG - Tipo de Viagem',
    'PAG_VIAG': 'PAG_VIAG - Quem Pagou a Viagem',
    'TP_ESAUTO': 'TP_ESAUTO - Tipo de Estacionamento do Automóvel ou Moto',
    'VL_EST': 'VL_EST - Valor do Estacionamento do Automóvel ou Moto',
    'PE_BICI': 'PE_BICI - Por Que Viajou A Pé ou Bicicleta',
    'VIA_BICI': 'VIA_BICI - Se viajou de bicicleta, usou via segregada?',
    'TP_ESBICI': 'TP_ESBICI - Estacionamento Bicicleta',
    'DISTANCIA': 'DISTANCIA - Distância em metros*',
    'ID_ORDEM': 'ID_ORDEM - Número de Ordem do Registro',
})
df_renomeado.columns

Index(['ZONA - Zona do Domicílio', 'MUNI_DOM - Município de Domicílio',
       'CO_DOM_X - Coordenada X Domicílio',
       'CO_DOM_Y - Coordenada Y Domicílio', 'ID_DOM - Identifica Domicílio',
       'F_DOM - Identifica Primeiro Registro do Domicílio',
       'FE_DOM - Fator de Expansão do Domicílio', 'DOM - Número do Domicílio',
       'CD_ENTRE - Código de Entrevista', 'DATA - Data da Entrevista',
       ...
       'Zona da 3ª Transferência', 'Município de Domicílio',
       'Município da Escola', 'Município do Primeiro Trabalho',
       'Município do 2º Trabalho', 'Município de Origem',
       'Município de Destino', 'Município 1ª Transferência',
       'Município 2ª Transferência', 'Município 3ª Transferência'],
      dtype='object', length=179)

In [8]:
df_renomeado.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,Zona da 3ª Transferência,Município de Domicílio,Município da Escola,Município do Primeiro Trabalho,Município do 2º Trabalho,Município de Origem,Município de Destino,Município 1ª Transferência,Município 2ª Transferência,Município 3ª Transferência
0,1,36,333729.0,7394430.0,10001,1,17.97777,1,6,2007-08-17,...,NaN,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN
1,1,36,333729.0,7394430.0,10001,0,17.97777,1,6,2007-08-17,...,NaN,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN
2,1,36,333858.0,7394484.0,10018,1,17.67677,18,6,2007-08-16,...,NaN,São Paulo,NaN,Franco da Rocha,NaN,São Paulo,Franco da Rocha,São Paulo,NaN,NaN
3,1,36,333858.0,7394484.0,10018,0,17.67677,18,6,2007-08-16,...,NaN,São Paulo,NaN,Franco da Rocha,NaN,Franco da Rocha,São Paulo,São Paulo,NaN,NaN
4,1,36,333858.0,7394484.0,10018,0,17.67677,18,6,2007-08-16,...,NaN,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_renomeado.to_excel(f'OD_{ano}.xlsx', index=False)
print('Arquivo salvos com sucesso', f'od_{ano}.xlsx')

Arquivo salvos com sucesso od_2007.xlsx