In [15]:
import pandas as pd

In [16]:
ano = 1977
file_name = f'OD_{ano}_from_dbx.csv'
df = pd.read_csv(file_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230606 entries, 0 to 230605
Data columns (total 76 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ZONA      230606 non-null  int64
 1   SUBZONA   230606 non-null  int64
 2   MUNIRES   230606 non-null  int64
 3   NOTA      230606 non-null  int64
 4   CONGLOME  230606 non-null  int64
 5   BOLSAO    230606 non-null  int64
 6   SETORES   230606 non-null  int64
 7   ID_DOM    230606 non-null  int64
 8   F_DOM     230606 non-null  int64
 9   FE_DOM    230606 non-null  float64
 10  DOMICIL   230606 non-null  int64
 11  TIPO_DOM  230606 non-null  int64
 12  PESS_FAM  230606 non-null  int64
 13  NAO_RES   230606 non-null  int64
 14  CONDMORA  230606 non-null  int64
 15  ALUGUEL   230606 non-null  int64
 16  F_FAM     230606 non-null  int64
 17  FE_FAM    230606 non-null  float64
 18  NO_FAM    230606 non-null  int64
 19  TOT_FAM   230606 non-null  int64
 20  QT_AUTO   230606 non-null  int64
 21  CODRENDF  230606 non-null  int64
 22  REDFAM    230606 non-null  int64
 23  F_PESS    230606 non-null  int64
 24  FE_PESS   230606 non-null  float64
 25  PESSOA    230606 non-null  int64
 26  SIT_FAM   230605 non-null  float64
 27  IDADE     230605 non-null  float64
 28  SEXO      230606 non-null  int64
 29  GRAU_INS  230606 non-null  int64
 30  OCUPACAO  230606 non-null  int64
 31  RAMOATIV  230606 non-null  int64
 32  CO_REN_I  230606 non-null  int64
 33  VL_REN_I  230606 non-null  int64
 34  ZONAESC1  230606 non-null  int64
 35  SUBESC1   230606 non-null  int64
 36  MUNIESC1  230216 non-null  float64
 37  ZONAESC2  230606 non-null  int64
 38  SUBESC2   230606 non-null  int64
 39  ZONATRA1  230606 non-null  int64
 40  SUBTRA1   230606 non-null  int64
 41  MUNITRA1  229931 non-null  float64
 42  ZONATRA2  230606 non-null  int64
 43  SUBTRA2   230606 non-null  int64
 44  MUNITRA2  230537 non-null  float64
 45  ID_VIAGE  230606 non-null  int64
 46  FE_VIA    230606 non-null  float64
 47  ZONAO     230606 non-null  int64
 48  SUBOR     230606 non-null  int64
 49  MUNIORIG  230538 non-null  float64
 50  BOLSAOOR  230606 non-null  int64
 51  SETOROR   230606 non-null  int64
 52  ZONAD     230606 non-null  int64
 53  SUBDES    230606 non-null  int64
 54  MUNIDEST  230535 non-null  float64
 55  BOLSAODE  230606 non-null  int64
 56  SETORDE   230606 non-null  int64
 57  MOTIVO_O  230606 non-null  int64
 58  MOTIVO_D  230606 non-null  int64
 59  MODO1     230606 non-null  int64
 60  MODO2     230606 non-null  int64
 61  MODO3     230605 non-null  float64
 62  MODOPRIN  230606 non-null  int64
 63  TIPO_VG   230606 non-null  int64
 64  HSAIDA    230606 non-null  int64
 65  MINSAIDA  230606 non-null  int64
 66  ANDA_O    230606 non-null  int64
 67  H_CHEG    230606 non-null  int64
 68  MINCHEG   230604 non-null  float64
 69  ANDA_D    230606 non-null  int64
 70  DURACAO   230606 non-null  int64
 71  TIPOESTC  230606 non-null  int64
 72  CUSTOEST  230606 non-null  int64
 73  PQNAOCAR  230606 non-null  int64
 74  NUMVIAG   230606 non-null  int64
 75  ORDEM     230606 non-null  int64
dtypes: float64(13), int64(63)
memory usage: 133.7 MB

In [17]:
df.head()

,ZONA,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM,F_DOM,FE_DOM,...,ANDA_O,H_CHEG,MINCHEG,ANDA_D,DURACAO,TIPOESTC,CUSTOEST,PQNAOCAR,NUMVIAG,ORDEM
0,1,30,1,2,1,4,36,120001010101,1,24.66,...,1,8,45.0,1,15,0,0,0,1,1
1,1,30,1,2,1,4,36,120001010101,0,24.66,...,1,13,15.0,1,15,0,0,0,2,2
2,1,30,1,2,1,4,36,120001010101,0,24.66,...,0,16,45.0,0,15,0,0,0,3,3
3,1,30,1,2,1,4,36,120001010101,0,24.66,...,0,19,15.0,0,15,0,0,0,4,4
4,1,30,1,2,1,4,36,120001010102,0,24.66,...,0,0,0.0,0,0,0,0,0,0,5

In [18]:
campo_de = 'F_DOM'
campo_para = 'Identifica Primeiro Registro do DomicÃ­lio'
tipos = {
    0: 'Registros Complementares do Dom.',
    1: 'Primeiro registro do domicÃ­lio'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'TIPO_DOM'
campo_para = 'Tipo de DomicÃ­lio'
tipos = {
    1: 'Individual',
    2: 'Coletivo'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'CONDMORA'
campo_para = 'CondiÃ§Ã£o de Moradia'
tipos = {
    1: 'PrÃ³pria paga',
    2: 'PrÃ³pria em pagamento',
    3: 'Alugada',
    4: 'Cedida',
    5: 'Outro'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'F_FAM'
campo_para = 'Identifica Primeiro Registro da FamÃ­lia'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da famÃ­lia'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'codrendf'
campo_para = 'Codigo de renda familiar'
tipos = {
    0: 'Respondeu',
    1: 'NÃ£o sabe',
    2: 'NÃ£o respondeu',
    3: 'NÃ£o se aplica'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'f_pess'
campo_para = 'Identifica Primeiro Registro da Pessoa'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da pessoa'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'sit_fam'
campo_para = 'SituaÃ§Ã£o Familiar'
tipos = {
    1: 'Chefe',
    2: 'CÃ´njuge',
    3: 'Filho(a)',
    4: 'Parente',
    5: 'Agregado',
    6: 'Empregado Residente',
    7: 'Visitante nÃ£o Res.',
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'grau_ins'
campo_para = 'Grau de Escolariedade'
tipos = {
    1: 'Sem instruÃ§Ã£o',
    2: 'PrimÃ¡rio Incompleto',
    3: 'PrimÃ¡rio Completo',
    4: 'Ginasial Incompleto',
    5: 'Ginasial Completo',
    6: 'Colegial Incompleto',
    7: 'Colegial Completo',
    8: 'UniversitÃ¡rio Incompleto',
    9: 'UniversitÃ¡rio Completo'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'ramoativ'
campo_para = 'Ramo de Atividade'
tipos = {
    1: 'AgrÃ­cola',
    2: 'Constr.Civil',
    3: 'Industrial',
    4: 'Comercial',
    5: 'Func.PÃºblico',
    6: 'Serv.Transporte',
    7: 'Empr.ServiÃ§o',
    8: 'Serv.AutÃ´nomos',
    9: 'Outro',
    10: 'NÃ£o se Aplica'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'co_ren_i'
campo_para = 'CÃ³digo de Renda Individual'
tipos = {
    1: 'Tem Renda',
    2: 'NÃ£o Tem Renda',
    3: 'NÃ£o Declarou'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'id_viage'
campo_para = 'Identificador do Registro de Viagem'
tipos = {
    0: 'NÃ£o Tem Viagem',
    1: 'Tem Viagem',
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MOTIVO_O'
campo_para = 'Motivo na Origem'
tipos = {    
    1: 'Trabalho IndÃºstria',
    2: 'Trabalho ComÃ©rcio',
    3: 'Trabalho ServiÃ§os',
    4: 'Escola/EducaÃ§Ã£o',
    5: 'Compras',
    6: 'NegÃ³cios',
    7: 'MÃ©dico/Dentista/SaÃºde',
    8: 'RecreaÃ§Ã£o/Visitas',
    9: 'Servir Passageiro',
    10: 'ResidÃªncia'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MOTIVO_D'
campo_para = 'Motivo no Destino'
tipos = {    
    1: 'Trabalho IndÃºstria',
    2: 'Trabalho ComÃ©rcio',
    3: 'Trabalho ServiÃ§os',
    4: 'Escola/EducaÃ§Ã£o',
    5: 'Compras',
    6: 'NegÃ³cios',
    7: 'MÃ©dico/Dentista/SaÃºde',
    8: 'RecreaÃ§Ã£o/Visitas',
    9: 'Servir Passageiro',
    10: 'ResidÃªncia'
}
df[campo_para] = df[campo_de.upper()].map(tipos)


campo_de = 'MODO1'
campo_para = 'Modo 1'
tipos = {
    1: 'Ã”nibus TrÃ³lebus',
    2: 'Ã”nibus Escolar/Empresa',
    3: 'Dirigindo AutomÃ³vel',
    4: 'Passageiro de AutomÃ³vel',
    5: 'TÃ¡xi',
    6: 'LotaÃ§Ã£o/Perua',
    7: 'MetrÃ´',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A PÃ©',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODO2'
campo_para = 'Modo 2'
tipos = {
    1: 'Ã”nibus TrÃ³lebus',
    2: 'Ã”nibus Escolar/Empresa',
    3: 'Dirigindo AutomÃ³vel',
    4: 'Passageiro de AutomÃ³vel',
    5: 'TÃ¡xi',
    6: 'LotaÃ§Ã£o/Perua',
    7: 'MetrÃ´',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A PÃ©',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODO3'
campo_para = 'Modo 3'
tipos = {
    1: 'Ã”nibus TrÃ³lebus',
    2: 'Ã”nibus Escolar/Empresa',
    3: 'Dirigindo AutomÃ³vel',
    4: 'Passageiro de AutomÃ³vel',
    5: 'TÃ¡xi',
    6: 'LotaÃ§Ã£o/Perua',
    7: 'MetrÃ´',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A PÃ©',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'MODOPRIN'
campo_para = 'Modo Principal'
tipos = {
    1: 'Ã”nibus TrÃ³lebus',
    2: 'Ã”nibus Escolar/Empresa',
    3: 'Dirigindo AutomÃ³vel',
    4: 'Passageiro de AutomÃ³vel',
    5: 'TÃ¡xi',
    6: 'LotaÃ§Ã£o/Perua',
    7: 'MetrÃ´',
    8: 'Trem',
    9: 'Motocicleta',
    10: 'Bicicleta',
    11: 'A PÃ©',
    12: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'tipo_vg'
campo_para = 'Tipo de Viagem'
tipos = {
    1: 'Coletivo',
    2: 'individual',
    3: 'A pÃ©'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'tipoestc'
campo_para = 'Tipo de Estacionamento'
tipos = {
    1: 'Zona Azul/ParquÃ­metro',
    2: 'Estacionamento Avulso',
    3: 'Estacionamento Mensal',
    4: 'Estacionamento PrÃ³prio',
    5: 'Meio Fio/Logradouro',
    6: 'Estacionamento Patrocionado',
    7: 'NÃ£o Estacionou'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

campo_de = 'pqnaocar'
campo_para = 'CÃ³digo de NÃ£o UtilizaÃ§Ã£o do Carro'
tipos = {
    1: 'NÃ£o DisponÃ­vel',
    2: 'Estacionamento Caro',
    3: 'DifÃ­cil de Estacionar',
    4: 'ConduÃ§Ã£o mais Barata',
    5: 'ConduÃ§Ã£o mais Conveniente',
    6: 'Outros'
}
df[campo_para] = df[campo_de.upper()].map(tipos)

df.tail()

,ZONA,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM,F_DOM,FE_DOM,...,Identificador do Registro de Viagem,Motivo na Origem,Motivo no Destino,Modo 1,Modo 2,Modo 3,Modo Principal,Tipo de Viagem,Tipo de Estacionamento,CÃ³digo de NÃ£o UtilizaÃ§Ã£o do Carro
230601,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,NegÃ³cios,NegÃ³cios,Dirigindo AutomÃ³vel,NaN,NaN,Dirigindo AutomÃ³vel,individual,Estacionamento Avulso,NaN
230602,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,NegÃ³cios,NegÃ³cios,Dirigindo AutomÃ³vel,NaN,NaN,Dirigindo AutomÃ³vel,individual,Estacionamento Avulso,NaN
230603,243,327,1,4,1,1,40,24340001040101,0,1.0,...,Tem Viagem,NegÃ³cios,NegÃ³cios,Dirigindo AutomÃ³vel,NaN,NaN,Dirigindo AutomÃ³vel,individual,Estacionamento Avulso,NaN
230604,243,327,1,4,1,1,40,24340001040102,0,1.0,...,NÃ£o Tem Viagem,NaN,NaN,NaN,NaN,NaN,NaN,A pÃ©,NaN,NaN
230605,243,327,1,4,1,1,40,24340001040102,0,1.0,...,NÃ£o Tem Viagem,NaN,NaN,NaN,NaN,NaN,NaN,A pÃ©,NaN,NaN

In [19]:
ocupacoes = {
    0: 'NÃ£o Respondeu',
    1: 'Estudante',
    2: 'Prendas DomÃ©sticas',
    3: 'Aposentado',
    4: 'Sem OcupaÃ§Ã£o, Nunca Trabalhou',
    5: 'Desempregado Temporariamente',
    6: 'Em LicenÃ§a, Afastado',
    11: 'Serv.NÃ£o Espec.: Office-boy, Faxineiro, etc',
    12: 'Serv.Semi-Espec.: Zelador, Telef., Motorista',
    13: 'EscriturÃ¡rio',
    14: 'ComÃ©rcio: Vendedor, Corretor, etc',
    15: 'Chefe de Serv. Espec.',
    16: 'NÃ­vel Superior em EscritÃ³rio',
    17: 'Empregado c/NÃ­vel de gerÃªncia',
    18: 'Empregado NÃ­vel Superior',
    21: 'OperÃ¡rios Sem Espec.',
    22: 'OperÃ¡rios Semi-Espec.',
    23: 'Oper. Espec.de Oficinas:TÃ©cn., ArtesÃµes, etc',
    24: 'OperÃ¡rio Espec. (fÃ¡brica)',
    25: 'Chefe de OperÃ¡rios Espec.',
    26: 'Trabalhadores Rurais',
    27: 'Trabalhador Rural NÃ­vel Capataz',
    31: 'AutÃ´nomo Serv: Vendedor, Engraxate, etc',
    32: 'AutÃ´nomo Serv. Semi-Espec',
    33: 'AutÃ´nomo NÃ­vel de OperÃ¡rio Espec.',
    34: 'AutÃ´nomo Trab. Intelectual, Mental',
    35: 'AutÃ´nomo TÃ©c.Altamente Espec.',
    36: 'AutÃ´nomo NÃ­vel UniversitÃ¡rio',
    41: 'Func.PÃºblico Serv. NÃ£o Espec.',
    42: 'Func.PÃºblico Serv. Semi Espec.',
    43: 'Func.PÃºblico EscriturÃ¡rio, Aux.Escrit.',
    44: 'Func.PÃºblico NÃ­vel Superior, Professores',
    45: 'Func.PÃºblico NÃ­vel Diretor',
    46: 'Func.PÃºblico Altos Cargos PÃºblicos',
    47: 'Func.PÃºblico Militares',
    51: 'SÃ³cio/Propr de Pequeno ComÃ©rcio',
    52: 'SÃ³cio/Propr de Firma Pequena ServiÃ§os',
    53: 'SÃ³cio/Propr Micro-Empresa Ind./Com.',
    54: 'SÃ³cio/Propr de Firma Grande/MÃ©dia de Serv.',
    55: 'SÃ³cio/Propr Empresa MÃ©dia Ind/Com',
    56: 'SÃ³cio/Propr Empresa Grande Ind/Com',
    57: 'Agricultor ArrendatÃ¡rio Terra',
    58: 'Agricultor ProprietÃ¡rio Terra',
    59: 'Grande Fazendeiro'
}

campo_de = 'OCUPACAO'
campo_para = 'OcupaÃ§Ã£o Principal'
df[campo_para] = df[campo_de].map(ocupacoes)

df[[
    'OCUPACAO',
    'OcupaÃ§Ã£o Principal',
]]

        OCUPACAO                 OcupaÃ§Ã£o Principal
0             14  ComÃ©rcio: Vendedor, Corretor, etc
1             14  ComÃ©rcio: Vendedor, Corretor, etc
2             14  ComÃ©rcio: Vendedor, Corretor, etc
3             14  ComÃ©rcio: Vendedor, Corretor, etc
4              2                 Prendas DomÃ©sticas
...          ...                                ...
230601        55  SÃ³cio/Propr Empresa MÃ©dia Ind/Com
230602        55  SÃ³cio/Propr Empresa MÃ©dia Ind/Com
230603        55  SÃ³cio/Propr Empresa MÃ©dia Ind/Com
230604         2                 Prendas DomÃ©sticas
230605         2                 Prendas DomÃ©sticas

[230606 rows x 2 columns]

In [20]:
municipios = {
    1: 'SÃ£o Paulo',
    2: 'Cajamar',
    3: 'Caieiras',
    4: 'Franco da Rocha',
    5: 'Francisco Morato',
    6: 'MairiporÃ£',
    7: 'Guarulhos',
    8: 'ArujÃ¡',
    9: 'Santa Isabel',
    10: 'Itaquaquecetuba',
    11: 'Ferraz de Vasconcelos',
    12: 'PoÃ¡',
    13: 'Suzano',
    14: 'Mogi das Cruzes',
    15: 'Guararema',
    16: 'Biritiba-Mirim',
    17: 'SalesÃ³polis',
    18: 'MauÃ¡',
    19: 'RibeirÃ£o Pires',
    20: 'Rio Grande da Serra',
    21: 'Santo AndrÃ©',
    22: 'SÃ£o Caetano do Sul',
    23: 'SÃ£o Bernardo do Campo',
    24: 'Diadema',
    25: 'Embu-GuaÃ§Ãº',
    26: 'TaboÃ£o da Serra',
    27: 'Embu',
    28: 'Itapecerica da Serra',
    29: 'Juquitiba',
    30: 'Cotia',
    31: 'Vargem Grande Ppaulista',
    32: 'Osasco',
    33: 'Carapicuiba',
    34: 'Barueri',
    35: 'Jandira',
    36: 'Itapevi',
    37: 'Santana do ParnaÃ­ba',
    38: 'Pirapora do Bom Jesus',
    99: 'MunÃ­cio Externo'
}

campo_de = 'MUNIDEST'
campo_para = 'MunicÃ­pio de Destino'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIESC1'
campo_para = 'MunicÃ­pio da Escola'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIORIG'
campo_para = 'MunicÃ­pio de Origem'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIRES'
campo_para = 'MunicÃ­pio do DomicÃ­lio'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA1'
campo_para = 'MunicÃ­pio do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA2'
campo_para = 'MunicÃ­pio do Segundo Trabalho'
df[campo_para] = df[campo_de].map(municipios)


df[[
    'MUNIESC1',
    'MunicÃ­pio da Escola',
    'MUNIDEST',
    'MunicÃ­pio de Destino',
    'MUNIORIG',
    'MunicÃ­pio de Origem',
    'MUNIRES',
    'MunicÃ­pio do DomicÃ­lio',
    'MUNITRA1',
    'MunicÃ­pio do Primeiro Trabalho',
    'MUNITRA2',
    'MunicÃ­pio do Segundo Trabalho'
]]

,MUNIESC1,MunicÃ­pio da Escola,MUNIDEST,MunicÃ­pio de Destino,MUNIORIG,MunicÃ­pio de Origem,MUNIRES,MunicÃ­pio do DomicÃ­lio,MUNITRA1,MunicÃ­pio do Primeiro Trabalho,MUNITRA2,MunicÃ­pio do Segundo Trabalho
0,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
1,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
2,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
3,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,1,SÃ£o Paulo,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
230601,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
230602,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
230603,0.0,NaN,1.0,SÃ£o Paulo,1.0,SÃ£o Paulo,1,SÃ£o Paulo,1.0,SÃ£o Paulo,0.0,NaN
230604,0.0,NaN,0.0,NaN,0.0,NaN,1,SÃ£o Paulo,0.0,NaN,0.0,NaN
230605,0.0,NaN,0.0,NaN,0.0,NaN,1,SÃ£o Paulo,0.0,NaN,0.0,NaN

In [21]:
df_renomeado = df.rename(columns={
    'ZONA': 'ZONA - Zona do DomicÃ­lio',
    'MUNI_DOM': 'MUNI_DOM - MunicÃ­pio de DomicÃ­lio',
    'CO_DOM_X': 'CO_DOM_X - Coordenada X DomicÃ­lio',
    'CO_DOM_Y': 'CO_DOM_Y - Coordenada Y DomicÃ­lio',
    'ID_DOM': 'ID_DOM - Identifica DomicÃ­lio',
    'F_DOM': 'F_DOM - Identifica Primeiro Registro do DomicÃ­lio',
    'FE_DOM': 'FE_DOM - Fator de ExpansÃ£o do DomicÃ­lio',
    'DOM': 'DOM - NÃºmero do DomicÃ­lio',
    'CD_ENTRE': 'CD_ENTRE - CÃ³digo de Entrevista',
    'DATA': 'DATA - Data da Entrevista',
    'TIPO_DOM': 'TIPO_DOM - Tipo de DomicÃ­lio',
    'AGUA': 'AGUA - Possui Ã¡gua encanada?',
    'RUA_PAVI': 'RUA_PAVI - A rua Ã© pavimentada?',
    'NO_MORAD': 'NO_MORAD - Total de Moradores no DomicÃ­lio',
    'TOT_FAM': 'TOT_FAM - Total de Familias no DomicÃ­lio',
    'ID_FAM': 'ID_FAM - Identifica FamÃ­lia',
    'F_FAM': 'F_FAM - Identifica Primeiro Registro da FamÃ­lia',
    'FE_FAM': 'FE_FAM - Fator de ExpansÃ£o da FamÃ­lia',
    'FAMILIA': 'FAMILIA - NÃºmero da FamÃ­lia',
    'NO_MORAF': 'NO_MORAF - Total de Moradores na FamÃ­lia',
    'CONDMORA': 'CONDMORA - CondiÃ§Ã£o de Moradia',
    'QT_BANHO': 'QT_BANHO - Banheiros',
    'QT_EMPRE': 'QT_EMPRE - Empregados DomÃ©sticos',
    'QT_AUTO': 'QT_AUTO - AutomÃ³veis',
    'QT_MICRO': 'QT_MICRO - Microcomputadores',
    'QT_LAVALOU': 'QT_LAVALOU - MÃ¡quinas de Lava louÃ§as',
    'QT_GEL1': 'QT_GEL1 - Geladeiras de uma porta',
    'QT_GEL2': 'QT_GEL2 - Geladeiras de duas portas',
    'QT_FREEZ': 'QT_FREEZ - Freezers',
    'QT_MLAVA': 'QT_MLAVA - MÃ¡quinas de Lavar roupa',
    'QT_DVD': 'QT_DVD - DVDs',
    'QT_MICROON': 'QT_MICROON - Microondas',
    'QT_MOTO': 'QT_MOTO - Motos',
    'QT_SECAROU': 'QT_SECAROU - Secadora de roupas',
    'QT_BICICLE': 'QT_BICICLE - Bicicletas',
    'NAO_DCL_IT': 'NAO_DCL_IT - CÃ³digo de DeclaraÃ§Ã£o de Itens de Conforto',
    'CRITERIOBR': 'CRITERIOBR - CritÃ©rio de ClassificaÃ§Ã£o EconÃ´mica Brasil',
    'PONTO_BR': 'PONTO_BR - Pontos CritÃ©rio Brasil',
    'ANO_AUTO1': 'ANO_AUTO1 - Ano FabricaÃ§Ã£o do Auto 1',
    'ANO_AUTO2': 'ANO_AUTO2 - Ano FabricaÃ§Ã£o do Auto 2',
    'ANO_AUTO3': 'ANO_AUTO3 - Ano FabricaÃ§Ã£o do Auto 3',
    'RENDA_FA': 'RENDA_FA - Renda Familiar Mensal',
    'CD_RENFA': 'CD_RENFA - CÃ³digo de Renda Familiar Mensal',
    'ID_PESS': 'ID_PESS - Identifica Pessoa',
    'F_PESS': 'F_PESS - Identifica Primeiro Registro da Pessoa',
    'FE_PESS': 'FE_PESS - Fator de ExpansÃ£o da Pessoa',
    'PESSOA': 'PESSOA - NÃºmero da Pessoa',
    'SIT_FAM': 'SIT_FAM - SituaÃ§Ã£o Familiar',
    'IDADE': 'IDADE - Idade',
    'SEXO': 'SEXO - Sexo',
    'ESTUDA': 'ESTUDA - Estuda Atualmente?',
    'GRAU_INS': 'GRAU_INS - Grau de InstruÃ§Ã£o',
    'CD_ATIVI': 'CD_ATIVI - CondiÃ§Ã£o de Atividade',
    'CO_REN_I': 'CO_REN_I - CondiÃ§Ã£o de Renda Individual',
    'VL_REN_I': 'VL_REN_I - Renda Individual',
    'ZONA_ESC': 'ZONA_ESC - Zona da Escola',
    'MUNIESC': 'MUNIESC - MunicÃ­pio da Escola',
    'CO_ESC_X': 'CO_ESC_X - Coordenada X Escola',
    'CO_ESC_Y': 'CO_ESC_Y - Coordenada Y Escola',
    'TIPO_ESC': 'TIPO_ESC - Tipo de Escola',
    'ZONATRA1': 'ZONATRA1 - Zona do Primeiro Trabalho',
    'MUNITRA1': 'MUNITRA1 - MunicÃ­pio do Primeiro Trabalho',
    'CO_TR1_X': 'CO_TR1_X - Coordenada X 1Âº Trabalho',
    'CO_TR1_Y': 'CO_TR1_Y - Coordenada Y 1Âº Trabalho',
    'TRAB1_RE': 'TRAB1_RE - Primeiro Trabalho Ã© igual a ResidÃªncia ?',
    'TRABEXT1': 'TRABEXT1 - Realiza Trabalho Externo-1Âº Trabalho',
    'OCUP1': 'OCUP1 - OcupaÃ§Ã£o do 1Âº Trabalho',
    'SETOR1': 'SETOR1 - Setor de Atividade do 1Âº Trabalho',
    'VINC1': 'VINC1 - VÃ­nculo EmpregatÃ­cio do 1Âº Trabalho',
    'ZONATRA2': 'ZONATRA2 - Zona do 2Âº Trabalho',
    'MUNITRA2': 'MUNITRA2 - MunicÃ­pio do 2Âº Trabalho',
    'CO_TR2_X': 'CO_TR2_X - Coordenada X 2Âº Trabalho',
    'CO_TR2_Y': 'CO_TR2_Y - Coordenada Y 2Âº Trabalho',
    'TRAB2_RE': 'TRAB2_RE - Segundo Trabalho Ã© igual a ResidÃªncia ?',
    'TRABEXT2': 'TRABEXT2 - Realiza Trabalho Externo-2Âº Trabalho',
    'OCUP2': 'OCUP2 - OcupaÃ§Ã£o do 2Âº Trabalho',
    'SETOR2': 'SETOR2 - Setor de Atividade do 2Âº Trabalho',
    'VINC2': 'VINC2 - VÃ­nculo EmpregatÃ­cio do 2Âº Trabalho',
    'N_VIAG': 'N_VIAG - NÃºmero da Viagem',
    'FE_VIA': 'FE_VIA - Fator de ExpansÃ£o da Viagem',
    'DIA_SEM': 'DIA_SEM - Dia da Semana',
    'TOT_VIAG': 'TOT_VIAG - Total de Viagens da Pessoa',
    'ZONA_O': 'ZONA_O - Zona de Origem',
    'MUNI_O': 'MUNI_O - MunicÃ­pio de Origem',
    'CO_O_X': 'CO_O_X - Coordenada X Origem',
    'CO_O_Y': 'CO_O_Y - Coordenada Y Origem',
    'ZONA_D': 'ZONA_D - Zona de Destino',
    'MUNI_D': 'MUNI_D - MunicÃ­pio de Destino',
    'CO_D_X': 'CO_D_X - Coordenada X Destino',
    'CO_D_Y': 'CO_D_Y - Coordenada Y Destino',
    'ZONA_T1': 'ZONA_T1 - Zona da 1Âª TransferÃªncia',
    'MUNI_T1': 'MUNI_T1 - MunicÃ­pio 1Âª TransferÃªncia',
    'CO_T1_X': 'CO_T1_X - Coordenada X 1Âª TransferÃªncia',
    'CO_T1_Y': 'CO_T1_Y - Coordenada Y 1Âª TransferÃªncia',
    'ZONA_T2': 'ZONA_T2 - Zona da 2Âª TransferÃªncia',
    'MUNI_T2': 'MUNI_T2 - MunicÃ­pio 2Âª TransferÃªncia',
    'CO_T2_X': 'CO_T2_X - Coordenada X 2Âª TransferÃªncia',
    'CO_T2_Y': 'CO_T2_Y - Coordenada Y 2Âª TransferÃªncia',
    'ZONA_T3': 'ZONA_T3 - Zona da 3Âª TransferÃªncia',
    'MUNI_T3': 'MUNI_T3 - MunicÃ­pio 3Âª TransferÃªncia',
    'CO_T3_X': 'CO_T3_X - Coordenada X 3Âª TransferÃªncia',
    'CO_T3_Y': 'CO_T3_Y - Coordenada Y 3Âª TransferÃªncia',
    'MOTIVO_O': 'MOTIVO_O - Motivo na Origem',
    'MOTIVO_D': 'MOTIVO_D - Motivo no Destino',
    'MOT_SRES': 'MOT_SRES - Motivo no Destino sem ResidÃªncia',
    'SERVIR_O': 'SERVIR_O - Servir Passageiro na Origem',
    'SERVIR_D': 'SERVIR_D - Servir Passageiro no Destino',
    'MODO1': 'MODO1 - Modo 1',
    'MODO2': 'MODO1 - Modo 2',
    'MODO3': 'MODO1 - Modo 3',
    'MODO4': 'MODO1 - Modo 4',
    'H_SAIDA': 'H_SAIDA - Hora de SaÃ­da',
    'MIN_SAIDA': 'MIN_SAIDA - Minuto de SaÃ­da',
    'ANDA_O': 'ANDA_O - Tempo Andando na Origem',
    'H_CHEG': 'H_CHEG - Hora de Chegada',
    'MIN_CHEG': 'MIN_CHEG - Minuto de Chegada',
    'ANDA_D': 'ANDA_D - Tempo Andando no Destino',
    'DURACAO': 'DURACAO - DuraÃ§Ã£o da Viagem (em minutos)',
    'MODOPRIN': 'MODOPRIN - Modo Principal',
    'TIPVG': 'TIPVG - Tipo de Viagem',
    'PAG_VIAG': 'PAG_VIAG - Quem Pagou a Viagem',
    'TP_ESAUTO': 'TP_ESAUTO - Tipo de Estacionamento do AutomÃ³vel ou Moto',
    'VL_EST': 'VL_EST - Valor do Estacionamento do AutomÃ³vel ou Moto',
    'PE_BICI': 'PE_BICI - Por Que Viajou A PÃ© ou Bicicleta',
    'VIA_BICI': 'VIA_BICI - Se viajou de bicicleta, usou via segregada?',
    'TP_ESBICI': 'TP_ESBICI - Estacionamento Bicicleta',
    'DISTANCIA': 'DISTANCIA - DistÃ¢ncia em metros*',
    'ID_ORDEM': 'ID_ORDEM - NÃºmero de Ordem do Registro',
})
df_renomeado.columns

Index(['ZONA - Zona do DomicÃ­lio', 'SUBZONA', 'MUNIRES', 'NOTA', 'CONGLOME',
       'BOLSAO', 'SETORES', 'ID_DOM - Identifica DomicÃ­lio',
       'F_DOM - Identifica Primeiro Registro do DomicÃ­lio',
       'FE_DOM - Fator de ExpansÃ£o do DomicÃ­lio',
       ...
       'Tipo de Viagem', 'Tipo de Estacionamento',
       'CÃ³digo de NÃ£o UtilizaÃ§Ã£o do Carro', 'OcupaÃ§Ã£o Principal',
       'MunicÃ­pio de Destino', 'MunicÃ­pio da Escola', 'MunicÃ­pio de Origem',
       'MunicÃ­pio do DomicÃ­lio', 'MunicÃ­pio do Primeiro Trabalho',
       'MunicÃ­pio do Segundo Trabalho'],
      dtype='object', length=103)

In [22]:
df_renomeado.head()

,ZONA - Zona do DomicÃ­lio,SUBZONA,MUNIRES,NOTA,CONGLOME,BOLSAO,SETORES,ID_DOM - Identifica DomicÃ­lio,F_DOM - Identifica Primeiro Registro do DomicÃ­lio,FE_DOM - Fator de ExpansÃ£o do DomicÃ­lio,...,Tipo de Viagem,Tipo de Estacionamento,CÃ³digo de NÃ£o UtilizaÃ§Ã£o do Carro,OcupaÃ§Ã£o Principal,MunicÃ­pio de Destino,MunicÃ­pio da Escola,MunicÃ­pio de Origem,MunicÃ­pio do DomicÃ­lio,MunicÃ­pio do Primeiro Trabalho,MunicÃ­pio do Segundo Trabalho
0,1,30,1,2,1,4,36,120001010101,1,24.66,...,Coletivo,NaN,NaN,"ComÃ©rcio: Vendedor, Corretor, etc",SÃ£o Paulo,NaN,SÃ£o Paulo,SÃ£o Paulo,SÃ£o Paulo,NaN
1,1,30,1,2,1,4,36,120001010101,0,24.66,...,individual,NaN,NaN,"ComÃ©rcio: Vendedor, Corretor, etc",SÃ£o Paulo,NaN,SÃ£o Paulo,SÃ£o Paulo,SÃ£o Paulo,NaN
2,1,30,1,2,1,4,36,120001010101,0,24.66,...,A pÃ©,NaN,NaN,"ComÃ©rcio: Vendedor, Corretor, etc",SÃ£o Paulo,NaN,SÃ£o Paulo,SÃ£o Paulo,SÃ£o Paulo,NaN
3,1,30,1,2,1,4,36,120001010101,0,24.66,...,A pÃ©,NaN,NaN,"ComÃ©rcio: Vendedor, Corretor, etc",SÃ£o Paulo,NaN,SÃ£o Paulo,SÃ£o Paulo,SÃ£o Paulo,NaN
4,1,30,1,2,1,4,36,120001010102,0,24.66,...,A pÃ©,NaN,NaN,Prendas DomÃ©sticas,NaN,NaN,NaN,SÃ£o Paulo,NaN,NaN

In [23]:
df['AA_PESQUISA'] = ano
df_renomeado.to_excel(f'OD_{ano}.xlsx', index=False)
print('Arquivo salvo com sucesso', f'od_{ano}.xlsx')

Arquivo salvo com sucesso od_1977.xlsx